absl-py==0.9.0
aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.2.3
astroid==2.3.2
astunparse==1.6.3
atlassian-python-api==1.15.2
attrs==19.3.0
Automat==20.2.0
autopep8==1.5
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.4
blis==0.4.1
boto==2.49.0
boto3==1.12.16
boto3-python3==1.9.139
botocore==1.15.16
botocore-python3==1.12.139
Brotli==1.0.7
bs4==0.0.1
cachetools==4.0.0
catalogue==1.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
dash==1.13.4
dash-auth==1.3.2
dash-bootstrap-components==0.10.3
dash-core-components==1.10.1
dash-html-components==1.0.3
dash-renderer==1.5.1
dash-table==4.8.1
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.7
django-filter==2.2.0
django-graphql-jwt==0.3.1
django-phone-field==1.8.0
docopt==0.6.2
docutils==0.15.2
docutils-python3==0.13
EasyProcess==0.3
elasticsearch==7.5.1
en-core-web-sm==2.2.5
entrypoints==0.3
fake-useragent==0.1.11
filelock==3.0.12
Flask==1.1.1
Flask-Compress==1.5.0
Flask-SeaSurf==0.2.2
future==0.18.2
fuzzywuzzy==0.17.0
gast==0.3.3
gensim==3.8.1
google-auth==1.19.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googletrans==3.0.0
graphene==2.1.8
graphene-django==2.9.0
graphql-core==2.3.1
graphql-relay==2.0.1
grpcio==1.30.0
gTTS==2.1.1
gTTS-token==1.1.3
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.6.30
html5lib==1.0.1
httmock==1.3.0
http-request-randomizer==1.2.3
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.8
import-ipynb==0.1.3
importlib-metadata==1.5.0
incremental==17.5.0
inflect==4.1.0
ipaddress==1.0.23
ipyevents==0.7.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jaraco.itertools==5.0.0
jedi==0.16.0
Jinja2==2.11.1
jira==2.0.0
jmespath==0.9.4
joblib==0.14.1
Js2Py==0.67
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.4
jupyterlab-server==1.1.5
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
krovetz==1.0.2
lab==6.0
lazy-object-proxy==1.4.2
lxml==4.5.0
mail-parser==3.12.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
murmurhash==1.0.2
nameparser==1.0.5
nbconvert==5.6.1
nbformat==5.0.4
nltk==3.4.5
notebook==6.0.3
numpy==1.18.1
oauthlib==3.1.0
opt-einsum==3.2.1
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
parsel==1.5.2
parso==0.6.2
patsy==0.5.1
pbr==5.4.4
pickleshare==0.7.5
Pillow==7.0.0
pipwin==0.4.6
plac==1.1.3
playsound==1.2.2
plotly==4.8.1
preshed==3.0.2
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.12.2
psutil==5.7.0
psycopg2-binary==2.8.4
py-translate==1.0.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.6.1
PyHamcrest==2.0.2
pyjsparser==2.7.1
PyJWT==1.7.1
pylint==2.4.3
pyOpenSSL==19.1.0
pyparsing==2.4.6
PyPrind==2.11.2
pyrsistent==0.16.0
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pyttsx3==2.7
pytz==2019.3
PyVirtualDisplay==1.3.2
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.4
QtPy==1.9.0
queuelib==1.5.0
random-user-agent==1.0.1
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
robobrowser==0.5.3
rsa==4.6
Rx==1.6.1
s3transfer==0.3.3
s3transfer-python3==0.2.0
schedule==0.6.0
scikit-learn==0.22.2.post1
scipy==1.4.1
Scrapy==2.0.0
scrapy-user-agents==0.1.1
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
smart-open==1.9.0
sniffio==1.1.0
soupsieve==1.9.5
spacy==2.2.3
SpeechRecognition==3.8.1
SQLAlchemy==1.3.15
sqlparse==0.3.0
srsly==1.0.1
statsmodels==0.11.1
superintendent==0.5.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.5.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==7.3.1
tornado==6.0.4
tqdm==4.42.0
traitlets==4.3.3
Twisted==19.10.0
txt2tags==3.7
typed-ast==1.4.0
typing-extensions==3.7.4.1
tzlocal==2.0.0
ua-parser==0.10.0
urllib3==1.24.3
user-agents==2.1
virtualenv==20.0.21
w3lib==1.21.0
wasabi==0.6.0
watson-developer-cloud==2.10.1
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wolframalpha==4.0.0
wordcloud==1.6.0
wrapt==1.12.1
xgboost==1.1.1
xmltodict==0.12.0
zipp==2.1.0
zope.interface==4.7.2
